<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>login page</title>
    <style type="text/css">
    </style>
  </head>
<body>



<div class="container pt-5 col-lg-4 col-md-6 rounded">

<div class="content-section">

    <form method="POST" action="">

        {{ form.hidden_tag() }}

            <fieldset class="form-group">

                <legend>Welcome Back</legend>

                <div class="border-bottom">

                <span class="text-muted mb-3">Satyamev Jayate</span>

                    </div>

                <div class="form-group mt-3">

                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}

                    {{ form.username(class="form-control form-control-lg is-invalid") }}

                    <div>

                        {% for error in form.username.errors %}

                            <span class="invalid-feedback">

                                {{ error }}

                            </span>

                        {% endfor %}

                    </div>

                    {% else %}

                        {{ form.username(class="form-control form-control-lg") }}

                    {% endif %}

                </div>

                <div class="form-group">

                    {{ form.password.label(class="form-control-label") }}

                    {% if form.password.errors %}

                    {{ form.password(class="form-control form-control-lg is-invalid") }}

                    <div>

                    {% for error in form.password.errors %}

                        <span class="invalid-feedback">

                            {{ error }}

                        </span>

                    {% endfor %}

                    </div>

                    {% else %}

                    {{ form.password(class="form-control form-control-lg") }}

                    {% endif %}

                </div>

                <div class="form-check">

                    {{ form.remember(class="form-check-input") }}

                    {{ form.remember.label(class="form-check-label") }}

                </div>

            </fieldset>
            <form class="form-inline">
        
            <span class="form-group">

                {{ form.submit(class="btn btn-outline-info") }}

            <small id="passwordHelpInline" class="text-muted ml-5">

                <a href="#"><span>Forgot</span><span>Password</span></a>

            </small>
    
    </span>
     </form>  
    </form>

    </div>

    <div class="border-top pt-3">

        <small class="text-muted">

            New User? <a class="ml-2" href="{{ url_for('register') }}">Join us</a>

        </small>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
